# Module 1: Introduction to Python and Data Types

This module will cover the basics of Python - working with basic object and data types, and introduce elements that will help you get familiar with Python as an interactive computational environment for exploring data. 

Relevant reading: Think Python Chapters 1-2

In [1]:
# this is a comment. the python interpreter ignores it.
# comments are just notes for humans to read to help understand the code
# best practice: add a comment for every couple lines of code to explain what's going on and why
# you'd be amazed at how quickly you forget your code's logic

## Math in Python

using mathematical operators

In [2]:
# add two integers
1 + 1

2

In [3]:
# multiply two integers
2 * 3

6

In [4]:
# spaces don't matter here, but keep them consistent for readability (...and they will matter momentarily)
2*3

6

In [5]:
# divide two integers
10 / 5

2.0

In [6]:
# raise 2 to the 4th power
2 ** 4

16

In [7]:
# take the square root of 9 (by raising it to the power of 0.5). notice the order of operations.
9 ** (1 / 2)

3.0

Here is the table of available mathematical operations:



| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |

<span style="display:none"></span>

## Working with variables

In [8]:
# variables, such as x here, contain values and their values can vary
x = 5

In [9]:
# what is the value of x?
x

5

In [10]:
# you can perform operations on variables, just like you can on two numbers
x + 3

8

In [11]:
# what is the value of x now?
x

5

In [12]:
# to update the value of a variable, you need to do an assignment again
x = x + 3

In [13]:
# and now what is the value of x?
x

8

In [14]:
# create a new variable y from an operation on x
x = 5
y = x * 2
y

10

In [15]:
# outputting values only displays the last thing output
x
y

10

In [16]:
# use print to write some value(s) to the console
print(x)
print(y)

5
10

In [17]:
# you can comma-separate values to print multiple to the console on one line
print(x, y)

5 10

In [18]:
# you can also print the result of an expression
print(x * y)

50

## Getting help

In [19]:
# ask ipython for help by using '?'
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [ ]:
# use tab-completion to fill in the rest of statements, functions, methods
print

In [20]:
# tab-completion also works with variables you have created (ie, a variable in memory)
number = 1
number_of_students = 10

In [21]:
number_of_students

10

In [22]:
# what about errors? you can't divide by zero...
12/0

ZeroDivisionError: division by zero

For syntax errors or how to do something, Google it! (This is literally 90% of my job...)

Also, StackOverflow is a particularly good site for code snippets and troubleshooting: https://stackoverflow.com/

## Basic data types

Data in Python is interpreted as having a **type**.  The type is inferred at run time, and you can always ask Python what the type of an object is:

In [23]:
# integers are whole numbers
type(125)

int

In [24]:
# every variable has a data type, and they can be of any type
x = 125
type(x)

int

In [25]:
# press shift + tab on your key board to check what this function does
isinstance(x, int)

True

In [26]:
# float is a floating point (aka decimal) number
some_rate = 4.3
type(some_rate)

float

In [27]:
isinstance(some_rate, int)

False

## Working with data types

In [28]:
# divide 2 integers (produces a float result consistently)
num1 = 10
num2 = 5
num1 / num2

2.0

In [29]:
# divide 2 integers
num1 = 8
num2 = 5
num1 / num2

1.6

In [30]:
# check the data types as we go along
num1 = 8.0
print(type(num1))

num2 = 5
print(type(num2))

num3 = num1 / num2
print(type(num3))

num3

<class 'float'>
<class 'int'>
<class 'float'>

1.6

## Strings

In [31]:
# strings are "strings" of characters
s = 'abc'
type(s)

str

In [32]:
"This is a string"

'This is a string'

In [33]:
# some of the operators we saw earlier work on strings
city = 'Boston'
sep = ', '
state = 'MA'
zip_code = '02115'

location = city + sep + state + ' ' + zip_code
print(location)

Boston, MA 02115

In [34]:
zip_code = 02115

SyntaxError: invalid token (<ipython-input-34-7a6456d78c78>, line 1)

In [35]:
# the zip code 02492 isn't actually a number, it's a string of numeric characters
zip_code = '02115'

In [36]:
# multiplying a string just duplicates it
zip_code * 3

'021150211502115'

In [37]:
# you can get the nth element from an iterable object (like a string) with [n] indexing notation
# remember, in Python the index starts with zero not one
print(location[0])
print(location[1])
print(location[2])

B
o
s

In [38]:
# how many characters are in this string?
len(location)

16

In [39]:
# get a substring from some position up to but not including a seond position
location[2:5]

'sto'

In [40]:
# get the first n characters from the string
location[:5]

'Bosto'

In [41]:
# get the characters from the string after the nth position
location[5:]

'n, MA 02115'

In [42]:
# get the final n characters from the string
location[-7:]

'A 02115'

In [44]:
# you can replace characters in a string with the replace() method
location.replace('MA', 'ma')

'Boston, ma 02115'

In [45]:
# use string formating str.format()
myname = "Shirley"
"Hello, my name is {}.".format(myname)

'Hello, my name is Shirley.'

In [47]:
# you could also insert the variable names in between the braces
#you get the added perk of being able to pass objects and then reference parameters 
firstname = "Shirley"
lastname ="liu"
"Hello, my name is {name} {lname}.".format(name=firstname, lname=lastname)

'Hello, my name is Shirley liu.'

In [48]:
#.format() is one of Pythonâ€™s string formatting methods. There is another called an f-string.  
# The formatting options are the same as the .format( ) method, but f character are placed to the left of the string
f"Hello, my name is {myname}."

'Hello, my name is Shirley.'

## Converting between types

In [49]:
zip_code

'02115'

In [50]:
type(zip_code)

str

In [51]:
# you can convert between data types
# convert the zip code string to an integer
zip_code = int(zip_code)
zip_code

2115

In [52]:
type(zip_code)

int

In [53]:
# the math works better now
zip_code * 2

4230

In [54]:
# the int function won't convert a string that looks like a floating point number
rent_str = '2500.00'
rent_int = int(rent_str)

ValueError: invalid literal for int() with base 10: '2500.00'

In [55]:
# but you can daisy chain functions together to conver the string to a float then to an int
rent_int = int(float(rent_str))
rent_int

2500

In [56]:
# you cannot concatenate a string and a number
city = 'Los Angeles '
zip_code = 90001
city + zip_code

TypeError: can only concatenate str (not "int") to str

In [57]:
# convert the number first, then concatenate
city + str(zip_code)

'Los Angeles 90001'

## Summary
1. Programming and Python basics
2. The Python notebook and Jupyter
3. Math in Python
4. Python objects and data types
    - Creating and Working with variables
    - Working with different data types
5. Troubleshoot

## Assignment 1

See instrutions on Canvas