## Module 5: Data cleaning and manipulation

In the previous module, we learn the basic of working with data and file with pandas. In this module, we are going to work with a real-world dataset, and learn how to clean, select, filter, and slice data from a dataset, and merge and concatenate datasets.

Relevant reading: McKinney's Python for Data Analysis Chapters 7-8

### What are the data?  
We will be working with [2017 5-year tract-level ACS](https://www.census.gov/data/developers/data-sets/acs-5year.2017.html) from the Census Bureau, Below is the descriptive tables of the dataset. It's a set of socioeconomic variables across all Massachusetts census tracts:



##### Table 1: Variable Names and ACS Dataset


|variable | ACS dataset | description |
|---- | --- | --- |
|tot_pop | DP05_0001E | Total population |
|age2034 | DP05_0009PE| Percent of population 20–34 years old |
| age65up | DP05_0024PE  | Percent of population 65 years and older |
|black | DP05_0078PE |Percent of population that is non-Hispanic Black/African American|
|hispanic | DP05_0070PE | Percent of population that is Hispanic/Latino |
|asian | DP05_0080PE | Percent of population that is non-Hispanic Asian |
|white | DP05_0077PE | Percent of population that is non-Hispanic White |
|pct_college_degree_higher | DP02_0067PE | Percent of population (25 years and older) with bachelor’s degree or higher |
| pct_college_grad_student | DP02_0057PE | Percent of population who currently enroll in college or grad school | 
| hhincome | DP03_0062E | Median household income (US dollars) |
| pct_male | DP05_0002PE | Percent of population that is male |
| pct_female | DP05_0003PE | Percent of population that is female |
| poverty | DP03_0128PE | Percent of families and people whose income in the past 12 months is below the poverty level |
| mean_commute_time | DP03_0025E | Workers 16 years and over: Mean travel time to work (minutes) |
| pct_english_only | DP02_0111PE | Percent of population with english as only language spoken at home | 
| pct_foreign_born | DP02_0092PE | Percent of population that are foreign borned |
| median_rent | DP04_0134E | Occupied units paying rent: Median gross rent (US dollars)|

In [5]:
import numpy as np
import pandas as pd

## 1. Loading data

In [2]:
# load a data file
# note the relative filepath! where is this file located?
df = pd.read_csv('../data/acs_data_tracts_MA.csv', dtype={'GEOID':str})

In [3]:
# dataframe shape as rows, columns
df.shape

(1478, 21)

In [4]:
# or use len to just see the number of rows
len(df)

1478

In [5]:
# view the dataframe's "head"
df.head()

,Unnamed: 0,GEOID,stateID,countyID,population_size,age2034,age65up,black,hispanic,asian,...,pct_college_degree_higher,pct_college_grad_student,hhincome,pct_male,pct_female,poverty,mean_commute_time,pct_english_only,pct_foreign_born,median_rent
0,0,25001010100,25,1,2952,3.0,28.9,1.7,2952,1.6,...,48.8,47.4,47500.0,53.3,46.7,10.7,13.9,88.5,9.2,1120
1,1,25001010206,25,1,3171,8.2,38.1,2.2,3171,3.4,...,52.6,27.5,59042.0,44.3,55.7,11.3,22.6,95.3,7.8,1027
2,2,25001010208,25,1,1580,2.1,37.3,1.3,1580,0.0,...,45.9,9.5,62844.0,50.4,49.6,11.2,16.8,93.6,9.6,1019
3,3,25001010304,25,1,2332,7.7,43.4,0.9,2332,4.8,...,51.2,30.2,71250.0,44.2,55.8,4.8,23.5,93.7,7.0,980
4,4,25001010306,25,1,2576,4.4,33.2,3.5,2576,0.5,...,45.1,10.2,55694.0,47.7,52.3,8.2,17.8,96.9,5.0,1176

In [ ]:
df.columns

## 2. Clean and process data

In [ ]:
# data types of the columns
df.dtypes

In [ ]:
# access a single column like df['col_name']
df['median_rent'].head(10)

In [ ]:
# pandas uses numpy's nan to represent null (missing) values
print(np.nan)
print(type(np.nan))

In [ ]:
# convert rent from string -> float
df['median_rent'].astype(float)

Didn't work! We need to clean up the stray alphabetical characters to get a numerical value. You can do string operations on pandas Series to clean up their values

In [ ]:
# do a string replace and assign back to that column, then change type to float
df['median_rent'] = df['median_rent'].str.replace(' (USD)', '', regex=False)
df['median_rent'] = df['median_rent'].astype(float)

In [ ]:
# convert rent from float -> int
df['median_rent'].astype(int)

You cannot store null values as type `int`, only as type `float`. You have three basic options:

  1. Keep the column as float to retain the nulls - they are often important!
  2. Drop all the rows that contain nulls if we need non-null data for our analysis
  3. Fill in all the nulls with another value if we know a reliable default value

In [ ]:
df.shape

In [ ]:
# drop rows that contain nulls
# this doesn't save the result, because we didn't reassign! (in reality, want to keep the nulls here)
df.dropna(subset=['median_rent']).shape

In [ ]:
# fill in rows that contain nulls
# this doesn't save the result, because we didn't reassign! (in reality, want to keep the nulls here)
df['median_rent'].fillna(value=0).head(10)

In [ ]:
df['stateID']

In [ ]:
# dict that maps state fips code -> state name
fips = {25 : 'MA'}

# replace fips code with state name with the replace() method
df['stateID'] = df['stateID'].replace(fips)
df['stateID']

In [ ]:
# you can rename columns with the rename() method
# remember to reassign to save the result
df = df.rename(columns={'stateID' : 'state_name'})

df = df.rename(columns={'population_size' : 'total_pop'})

In [ ]:
# you can drop columns you don't need with the drop() method
# remember to reassign to save the result
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
# inspect the cleaned-up dataframe
df.head()

In [ ]:
# save it to disk as a "clean" copy
# note the relative filepath
df.to_csv('../data/acs_data_tracts_MA-clean.csv', index=False, encoding='utf-8')

## 3. Selecting and slicing data from a DataFrame

In [ ]:
# CHEAT SHEET OF COMMON TASKS
# Operation                       Syntax           Result
#------------------------------------------------------------
# Select column by name           df[col]          Series
# Select columns by name          df[col_list]     DataFrame
# Select row by label             df.loc[label]    Series
# Select row by integer location  df.iloc[loc]     Series
# Slice rows by label             df.loc[a:c]      DataFrame
# Select rows by boolean vector   df[mask]         DataFrame

### 3a. Select DataFrame's column(s) by name

We saw some of this a minute ago. Let's look in a bit more detail and break down what's happening.

In [ ]:
# select a single column by column name
# this is a pandas series
df['total_pop']

In [ ]:
# select multiple columns by a list of column names
# this is a pandas dataframe that is a subset of the original
df[['total_pop', 'hhincome']]

In [ ]:
# create a new column by assigning df['new_col'] to some set of values
# you can do math operations on any numeric columns
df['monthly_income'] = df['hhincome'] / 12
df['rent_burden'] = df['median_rent'] / df['monthly_income']

# inspect the results
df[['hhincome', 'monthly_income', 'median_rent', 'rent_burden']].head()

### 3b. Select row(s) by label

In [ ]:
# use .loc to select by row label
# returns the row as a series whose index is the dataframe column names
df.loc[0]

In [ ]:
# use .loc to select single value by row label, column name
df.loc[0, 'poverty']

In [ ]:
# slice of rows from label 5 to label 7, inclusive
# this returns a pandas dataframe
df.loc[5:7]

In [ ]:
# slice of rows from label 1 to label 3, inclusive
# slice of columns from hispanic to white, inclusive
df.loc[1:3, 'hispanic':'white']

In [ ]:
# subset of rows from with labels in list
# subset of columns with names in list
df.loc[[1, 3], ['hispanic', 'white']]

In [ ]:
# you can use a column of unique identifiers as the index
# fips codes uniquely identify each row (but verify!)
df = df.set_index('GEOID')
df.index.is_unique

In [ ]:
df.head()

In [ ]:
# .loc works by label, not by position in the dataframe
df.loc[0]

In [ ]:
# the index now contains fips codes, so you have to use .loc accordingly to select by row label
df.loc['25001010100']

### 3c. Select by (integer) position

In [ ]:
# get the row in the zero-th position in the dataframe
df.iloc[0]

In [ ]:
# you can slice as well
# note, while .loc[] is inclusive, .iloc[] is not
# get the rows from position 0 up to but not including position 3 (ie, rows 0, 1, and 2)
df.iloc[0:3]

In [ ]:
# get the value from the row in position 3 and the column in position 2 (zero-indexed)
df.iloc[3, 2]

### 3d. Select/filter by value

You can subset or filter a dataframe based on the values in its rows/columns.

In [ ]:
# filter the dataframe by rows with 30%+ rent burden
df[df['rent_burden'] > 0.3]

In [ ]:
# what exactly did that do? let's break it out.
df['rent_burden'] > 0.3

In [ ]:
# essentially a true/false mask that filters by value
mask = df['rent_burden'] > 0.3
df[mask]

In [ ]:
# you can chain multiple conditions together
# pandas logical operators are: | for or, & for and, ~ for not
# these must be grouped by using parentheses due to order of operations
# question: which tracts are both rent-burdened and majority-Black?
mask = (df['rent_burden'] > 0.3) & (df['black'] > 50)
df[mask].shape

In [ ]:
# which tracts are both rent-burdened and either majority-Black or majority-Hispanic?
mask1 = df['rent_burden'] > 0.3
mask2 = df['black'] > 50
mask3 = df['hispanic'] > 50
mask = mask1 & (mask2 | mask3)
df[mask].shape

In [ ]:
# see the mask
mask

In [ ]:
# ~ means not... it essentially flips trues to falses and vice-versa
~mask

In [ ]:
# now it's your turn
# create a new subset dataframe containing all the rows with median household income above $60,000 and percent-White above 60%
# how many rows did you get?

## 4. Merge and concatenate

### 4a. Merging DataFrames

In [ ]:
# create a subset dataframe with only race/ethnicity variables
race_cols = ['asian', 'black', 'hispanic', 'white']
df_race = df[race_cols]
df_race.head()

In [ ]:
# create a subset dataframe with only economic variables
econ_cols = ['median_rent', 'hhincome']
df_econ = df[econ_cols].sort_values('hhincome')
df_econ.head()

In [ ]:
# merge them together, aligning rows based on their labels in the index
df_merged = pd.merge(left=df_econ, right=df_race, how='inner', left_index=True, right_index=True)
df_merged.head()

In [ ]:
# now it's your turn
# change the "how" argument: what happens if you try an "outer" join? or a "left" join? or a "right" join?

In [ ]:
# reset df_econ's index
df_econ = df_econ.reset_index()
df_econ.head()

In [ ]:
# merge them together, aligning rows based on their labels in the index
# doesn't work! their indexes do not share any labels to match/align the rows
df_merged = pd.merge(left=df_econ, right=df_race, how='inner', left_index=True, right_index=True)
df_merged

In [ ]:
# instead merge where df_race index matches df_econ GEOID10 column
df_merged = pd.merge(left=df_econ, right=df_race, how='inner', left_on='GEOID', right_index=True)
df_merged.head()

### 4b. Concatenating DataFrames

In [ ]:
# select data within suffolk county, the county id is 25
df_suffolk = df[df['countyID']==25]

# select data within middlesex county, the county id is 17
df_middlesex = df[df['countyID']==17]

In [ ]:
# merging joins data together aligned by the index, but concatenating just smushes it together along some axis
df_all = pd.concat([df_middlesex, df_suffolk], sort=False)
df_all

## Summary
1. The basics of numpy arrays and pandas dataframes 
2. Loading and working with files in pandas
    - Selecting, filtering and slicing data
    - Saving a dataframe as a file
    - Other dataframes functionalities
3. Data cleaning and processing

## Assignment 3

See instrutions on Canvas